body {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
}

.dep:hover {
    fill: #f00;
}

.hidden {
    display: none;
}
.click{
    display: block;
}
div.tooltip {
    color: #222;
    background-color: #ffacac;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    z-index: 600; /* Valeur à ajuster selon vos besoins */
}
#close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 601;
}
#sidebar-container {
    color: #222;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 2px;
    opacity: 1;
    top: 10%;
    left: 1%;
    width: 30%;
    min-width: 300px;
    height: 80%;
    position: absolute;
    z-index: 600; /* Valeur à ajuster selon vos besoins */
    overflow: auto;
}

#sidebar *{
    text-align: center;
}
.arrets{
    cursor: pointer;
}
.filter, .filter-all, .credits{
    width: 40px; /* Ajustez la taille du cercle selon vos besoins */
    height: 40px;
    border-radius: 50%; /* Transforme le div en un cercle */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}

/* Style de l'icône à l'intérieur du cercle (assumant que l'icône est un élément <i>) */
.filter i {
    color: #ffffff; /* Couleur de l'icône */
    font-size: 18px; /* Taille de l'icône */
}

.filter:hover {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère avec couleur noire */
 }

#filter-section{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 600;
}

#freqLigne{
    position: absolute;
    top: 0 ;
    right: 0;
    z-index: 598;
    pointer-events: none;
}

#boutonAffluence{
    display: flex;
    align-items: center;
    justify-content: center;
}
#boutonAffluence *{
    height: 15px;
    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin: 0 5px 5px;

}

#boutonAffluence *:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère avec couleur noire */
}

#boutonLigne{
    display: flex;
    align-content: center;
    justify-content: center;
}

#boutonLigne *:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère avec couleur noire */
}
.choixLigne{
    margin: 5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}


/* LEGENDE */
#legend-section{
    position: absolute;
    bottom: 5%;
    left: 1%;
    z-index: 600;
    height: 250px;
}

#title-legend{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#legend-section .svg-container{
    height: 500px;
    font-size: 14px;
}

/* Titre général */
#title {
    position:absolute;
    top:0;
    z-index: 600;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(247, 247, 247, 0.6);
}

#title h1 {
    margin: 10px;
}

/* Choix Visualisation */
#switchVisu {
    position:absolute;
    bottom:3%;
    right:6%;

    display: flex;
    align-items: center;

    z-index: 600;

    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#switchVisu button {
    margin-right: 5px;
}



